@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/roboto/r-3c.woff2) format("woff2");
    unicode-range: U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/roboto/r-3ic.woff2) format("woff2");
    unicode-range: U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/roboto/r-4c.woff2) format("woff2");
    unicode-range: U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/roboto/r-4ic.woff2) format("woff2");
    unicode-range: U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/roboto/r-5c.woff2) format("woff2");
    unicode-range: U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/roboto/r-5ic.woff2) format("woff2");
    unicode-range: U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/roboto/r-7c.woff2) format("woff2");
    unicode-range: U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/roboto/r-7ic.woff2) format("woff2");
    unicode-range: U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(../fonts/roboto/r-9c.woff2) format("woff2");
    unicode-range: U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url(../fonts/roboto/r-9ic.woff2) format("woff2");
    unicode-range: U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/roboto/r-3ce.woff2) format("woff2");
    unicode-range: U+0460-052f, U+1c80-1c88, U+20b4, U+2de0-2dff, U+a640-a69f, U+fe2e-fe2f
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/roboto/r-3ice.woff2) format("woff2");
    unicode-range: U+0460-052f, U+1c80-1c88, U+20b4, U+2de0-2dff, U+a640-a69f, U+fe2e-fe2f
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/roboto/r-4ce.woff2) format("woff2");
    unicode-range: U+0460-052f, U+1c80-1c88, U+20b4, U+2de0-2dff, U+a640-a69f, U+fe2e-fe2f
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/roboto/r-4ice.woff2) format("woff2");
    unicode-range: U+0460-052f, U+1c80-1c88, U+20b4, U+2de0-2dff, U+a640-a69f, U+fe2e-fe2f
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/roboto/r-5ce.woff2) format("woff2");
    unicode-range: U+0460-052f, U+1c80-1c88, U+20b4, U+2de0-2dff, U+a640-a69f, U+fe2e-fe2f
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/roboto/r-5ice.woff2) format("woff2");
    unicode-range: U+0460-052f, U+1c80-1c88, U+20b4, U+2de0-2dff, U+a640-a69f, U+fe2e-fe2f
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/roboto/r-7ce.woff2) format("woff2");
    unicode-range: U+0460-052f, U+1c80-1c88, U+20b4, U+2de0-2dff, U+a640-a69f, U+fe2e-fe2f
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/roboto/r-7ice.woff2) format("woff2");
    unicode-range: U+0460-052f, U+1c80-1c88, U+20b4, U+2de0-2dff, U+a640-a69f, U+fe2e-fe2f
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(../fonts/roboto/r-9ce.woff2) format("woff2");
    unicode-range: U+0460-052f, U+1c80-1c88, U+20b4, U+2de0-2dff, U+a640-a69f, U+fe2e-fe2f
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url(../fonts/roboto/r-9ice.woff2) format("woff2");
    unicode-range: U+0460-052f, U+1c80-1c88, U+20b4, U+2de0-2dff, U+a640-a69f, U+fe2e-fe2f
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/roboto/r-3l.woff2) format("woff2");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/roboto/r-3il.woff2) format("woff2");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/roboto/r-4l.woff2) format("woff2");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/roboto/r-4il.woff2) format("woff2");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/roboto/r-5l.woff2) format("woff2");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/roboto/r-5il.woff2) format("woff2");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/roboto/r-7l.woff2) format("woff2");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/roboto/r-7il.woff2) format("woff2");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(../fonts/roboto/r-9l.woff2) format("woff2");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url(../fonts/roboto/r-9il.woff2) format("woff2");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/roboto/r-3le.woff2) format("woff2");
    unicode-range: U+0100-024f, U+0259, U+1e??, U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/roboto/r-3ile.woff2) format("woff2");
    unicode-range: U+0100-024f, U+0259, U+1e??, U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/roboto/r-4le.woff2) format("woff2");
    unicode-range: U+0100-024f, U+0259, U+1e??, U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/roboto/r-4ile.woff2) format("woff2");
    unicode-range: U+0100-024f, U+0259, U+1e??, U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/roboto/r-5le.woff2) format("woff2");
    unicode-range: U+0100-024f, U+0259, U+1e??, U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/roboto/r-5ile.woff2) format("woff2");
    unicode-range: U+0100-024f, U+0259, U+1e??, U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/roboto/r-7le.woff2) format("woff2");
    unicode-range: U+0100-024f, U+0259, U+1e??, U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/roboto/r-7ile.woff2) format("woff2");
    unicode-range: U+0100-024f, U+0259, U+1e??, U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(../fonts/roboto/r-9le.woff2) format("woff2");
    unicode-range: U+0100-024f, U+0259, U+1e??, U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url(../fonts/roboto/r-9ile.woff2) format("woff2");
    unicode-range: U+0100-024f, U+0259, U+1e??, U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff
}


html {
    min-height: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
    font-size: 16px;
    font-family: Roboto, sans-serif;
}

.main {
    display: grid;
    grid-template-columns: 200px 1fr;
    min-height: 100vh;
    background: #f1f1f1;
}

.admin__menu {
    background: #23282d;
    margin: 0;
    list-style-type: none;
    padding: 10px 0;
}

.admin__menu-link {
    display: block;
    color: #EEE;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 15px;
}

.admin__menu-link:hover, .admin__menu-link:focus, .admin__menu-link:active, .admin__menu-link.active {
    color: #00b9eb;
    background: #191e23;
}

.content {
    padding: 30px 20px;
    background: #f1f1f1;
}

h1 {
    margin-top: 0;
}

.admin__table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

.admin__table thead {
    border-bottom: inherit;
}

.admin__table thead tr, .admin__table tbody tr:nth-child(even) {
    background: #FFF;
}

.admin__table tbody tr:nth-child(odd) {
    background: #f9f9f9;
}

.admin__table tbody tr:hover {
    background: rgba(0, 0, 0, .01) !important;
}

.admin__table th, .admin__table td {
    padding: 8px 15px;
    text-align: center;
}

.admin__table th {
    font-weight: 500;
}

.admin__table .subinfo {
    font-size: 14px;
    opacity: .55;
    padding-top: 7px;
    display: inline-block;
}

.admin__table td {
    position: relative;
    z-index: 1;
}

.admin__table td:before {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    content: "";
    background-color: #C864C8;
    opacity: 0;
    transition: opacity .8s ease-in-out;
    pointer-events: none;
    z-index: 3;
}

.admin__table tr.new td:before {
    opacity: .3;
    transition-duration: 0s;
}

.admin__table tr.success td:last-child {
    color: green;
    font-weight: bold;
}

.admin__table tr.fail td:last-child {
    color: red;
    font-weight: bold;
}

.admin__table td {
    color: #444;
}

.admin__table pre {
    overflow: auto;
    border: 1px solid #CCC;
    padding: 5px;
    margin: 0;
}