/* cyrillic-ext */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url(/tpl/assets/fonts/roboto-mono/400ce.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url(/tpl/assets/fonts/roboto-mono/400c.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url(/tpl/assets/fonts/roboto-mono/400le.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url(/tpl/assets/fonts/roboto-mono/400l.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    src: url(/tpl/assets/fonts/roboto-mono/700ce.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    src: url(/tpl/assets/fonts/roboto-mono/700c.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    src: url(/tpl/assets/fonts/roboto-mono/700le.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    src: url(/tpl/assets/fonts/roboto-mono/700l.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


html {
    min-height: 100%;
}

body {
    margin: 40px 0 0 0;
    min-height: 100vh;
    background: #000;
    color: #DDD;
    font-size: 14px;
    font-family: "Roboto Mono", monospace;
    display: grid;
    grid-template-columns: 850px 1fr;
}

#table {
    color: #FFF;
    display: flex;
    justify-content: center;
}

#table table {
    table-layout: fixed;
    font-size: 12px;
    border: 1px solid #FFF;
}

#table thead {
    background: rgba(255, 255, 255, .2);
}

#table .current {
    background: rgba(0, 0, 255, .5);
}

#table td, #table th {
    padding: 5px 10px;
    border: 1px solid #FFF;
}

#main {
    position: relative;
}

#chart {
    position: relative;
    z-index: 2;
    margin: 0 auto;
}

.legend {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 500px;
    z-index: 1;
    height: 500px;
    transform:translate3d(-50%, 0, 0);
}

.legend .label {
    display: inline-block;
    transform-origin: left top;
    color: #888;
    opacity: 0;
    transition: color linear var(--leaf-duration), opacity linear calc(var(--leaf-duration) * 3) calc(var(--leaf-duration) * 15);
    position: absolute;
    left: 50%;
    top: 50%;
}

.legend .label.current {
    color: #BBB;
    text-shadow: 0 0 1px #FFF;
}

.active + .legend .label {
    opacity: 1;
}

.legend .label.active {
    color: #FFF;
}


:root {
    --diagram-size: 500px;
    --leafs: 6;
    --leaf-angle: calc(360deg / var(--leafs));
    --leaf-skew: calc(90deg + var(--leaf-angle));
    --diagram-border: #000;

    --leaf-duration: .1s;
}

.diagram {
    width: var(--diagram-size);
    height: var(--diagram-size);
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--diagram-border);
}

.leaf {
    position: absolute;
    left: 50%;
    bottom: 50%;
    width: 50%;
    height: 50%;
    transform-origin: left bottom;
    box-sizing: border-box;
    border-left: 1px solid var(--diagram-border);
}

.leaf:hover {
    background: red;
}

.leaf:first-child {
    transform: skewY(var(--leaf-skew));
}

.leaf:nth-child(2) {
    transform: rotateZ(var(--leaf-angle)) skewY(var(--leaf-skew));
}
.leaf:nth-child(3) {
    transform: rotateZ(calc(var(--leaf-angle) * 2)) skewY(var(--leaf-skew));
}
.leaf:nth-child(4) {
    transform: rotateZ(calc(var(--leaf-angle) * 3)) skewY(var(--leaf-skew));
}
.leaf:nth-child(5) {
    transform: rotateZ(calc(var(--leaf-angle) * 4)) skewY(var(--leaf-skew));
}
.leaf:nth-child(6) {
    transform: rotateZ(calc(var(--leaf-angle) * 5)) skewY(var(--leaf-skew));
}

.solved, .not-solved {
    stroke-width: 1;
    stroke: #DDD;
    opacity: 0;
    transition: .2s linear opacity, .2s linear fill;
}

.solved {
    fill: rgb(0, 200, 0);
}
.not-solved {
    fill: red;
}
.selected {
    opacity: 1 !important;
}
.active .solved, .active .not-solved {
    opacity: .6;
}

.active .solved.current, .active .not-solved.current {
    opacity: .8;
}

.active .t1 {
    transition-delay: var(--leaf-duration);
}

.active .t2 {
    transition-delay: calc(var(--leaf-duration) * 2);
}

.active .t3 {
    transition-delay: calc(var(--leaf-duration) * 3);
}

.active .t4 {
    transition-delay: calc(var(--leaf-duration) * 4);
}

.active .t5 {
    transition-delay: calc(var(--leaf-duration) * 5);
}

.active .t6 {
    transition-delay: calc(var(--leaf-duration) * 6);
}

.active .t7 {
    transition-delay: calc(var(--leaf-duration) * 7);
}

.active .t8 {
    transition-delay: calc(var(--leaf-duration) * 8);
}

.active .t9 {
    transition-delay: calc(var(--leaf-duration) * 9);
}

.active .t10 {
    transition-delay: calc(var(--leaf-duration) * 10);
}

.active .t11 {
    transition-delay: calc(var(--leaf-duration) * 11);
}

.active .t12 {
    transition-delay: calc(var(--leaf-duration) * 12);
}

.interactive path {
    transition-delay: 0s !important;
}

.interactive .selected, .interactive .selected.not-selected {
    opacity: 1;
}

/*.selected {
    transition: opacity .3s linear;
}
.selected, .not-selected.selected {
    opacity: 1;
}
.not-selected {
    opacity: .3;

}*/