/* cyrillic-ext */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url(/tpl/assets/fonts/roboto-mono/400ce.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url(/tpl/assets/fonts/roboto-mono/400c.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url(/tpl/assets/fonts/roboto-mono/400le.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url(/tpl/assets/fonts/roboto-mono/400l.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    src: url(/tpl/assets/fonts/roboto-mono/700ce.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    src: url(/tpl/assets/fonts/roboto-mono/700c.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    src: url(/tpl/assets/fonts/roboto-mono/700le.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    src: url(/tpl/assets/fonts/roboto-mono/700l.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


html {
    min-height: 100%;
}

body {
    margin: 0;
    display: block;
    min-height: 100vh;
    background: #000;
    color: #DDD;
    font-size: 14px;
    font-family: "Roboto Mono", monospace;
}

:root {
    --console-block-height: 15px;
}

/*.console {
    min-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
    padding-bottom: 3px;
    display: grid;
    grid-template-rows: 1fr var(--console-block-height);
}

.console__history {
    flex: 0 0 100%;
    max-height: calc(100% - var(--console-block-height));
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    align-self: flex-end;
}

.console__history > span {
    flex: 0 0 100%;
}

.console__input {
    height: var(--console-block-height);
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.console__input-prefix {
    flex: 0 0 auto;
    margin-right: 10px;
}

.console__input-field {
    flex: 1 1 auto;
    border: none;
    max-width: 100%;
    box-sizing: border-box;
    background: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

.console__input-cursor {
    position: relative;
}

.console__input-cursor:before {
    display: inline-block;
    width: 10px;
    height: 2px;
    border-radius: 2px;
    align-self: flex-end;
    position: absolute;
    content: "";
    animation: none;
}

.console__input-cursor:last-child {
    padding-left: 2px;
}

.console__input-cmd {
    display: flex;
    flex-wrap: wrap;
    opacity: .6;
    min-height: 15px;
}

.console__input-textarea {
    opacity: 0;
    position: absolute;
    height: 0;
    width: 0;
    left: -1000px;
    top: -1000px;
}

.console.active .console__input-cursor:before {
    content: "_";
    animation: cursor 1s infinite;
}

.console.active .console__input-cmd {
    opacity: 1;
}*/

body {
    display: grid;
    grid-template-rows: 1fr;
}

.terminal__wrapper {
    display: flex;
    align-items: stretch;
    height: 100vh;
    padding-bottom: 3px;
    box-sizing: border-box;
}

.terminal__wrapper .resizer {
    position: absolute;
    top: -1000px;
    left: -1000px;
}

.terminal {
    height: auto !important;
    flex: 0 0 100%;
    align-items: flex-end;
    display: flex;
}

.terminal-wrapper {
    flex: 0 0 100%;
}

.terminal .cmd {
    display: grid;
    grid-template-columns: max-content 1fr;
}

/*.terminal .cursor {
    position: relative;
    width: 0 !important;
}*/

/*.terminal .cursor > span {
    display: none;
}*/

.terminal .clipboard {
    position: absolute;
    top: -100px;
    left: -100px;
    width: 10px;
    height: 10px;
}

.terminal .font {
    position: absolute;
    top: -1000px;
    left: -1000px;
}

/*.terminal .cmd.enabled .cursor:after {
    content: "_";
    animation: 1s cursor infinite;
    position: absolute;
}*/

.terminal .cursor-line {
    opacity: .75;
}

.terminal .cmd.enabled .cursor-line {
    opacity: 1;
}

.terminal .cursor {
    opacity: 0;
}

.terminal .cmd.enabled .cursor {
    opacity: 1;
}

.cursor-line span {
    color: #FFF;
    font-weight: bold;
}

.terminal .cmd.enabled .cursor > span > span {
    animation: 1s terminal-blink linear infinite;
}

.terminal-output span {
    word-break: break-all;
}

@keyframes cursor {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes terminal-blink{
    0%, 50%{
        background-color: rgba(255, 255, 255, 1);
        color: #000;
    }
    50.1%, to {
        background-color: rgba(255, 255, 255, 0);
        color: inherit
    }
}