/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(/articles/fonts/400ce.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(/articles/fonts/400c.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(/articles/fonts/400le.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(/articles/fonts/400l.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url(/articles/fonts/700ce.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url(/articles/fonts/700c.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url(/articles/fonts/700le.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url(/articles/fonts/700l.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, body {
    margin: 0;
    font-family: "Open Sans", serif;
}

body {
    background: #f6f6f6;
    display: grid;
    grid-template-columns: 250px 1fr;
    align-items: stretch;
    height: 100vh;
}

.left {
    padding: 10px;
}

.left > span {
    font-size: 16px;
    font-weight: bold;
}

.left > form {
    display: grid;
    grid-template-columns: 77px 1fr;
    grid-row-gap: 10px;
    align-items: center;
    margin-top: 10px;
}

.left .error {
    grid-column-start: 1;
    grid-column-end: 3;
    color: red;
    font-weight: bold;
}

.left label {
    text-align: right;
    padding-right: 10px;
}

.left input[type="text"], .left input[type="password"] {
    padding: 5px 10px;
    font-size: 16px;
    max-width: 100%;
    width: auto;
    min-width: 1px;
}

.left input[type="submit"] {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 16px;
    font-weight: bold;
    background: #FFF;
    border: 1px solid #CCC;
    line-height: 40px;
    padding: 0;
    margin-top: 20px;
}

.content {
    padding: 10px 20px;
    position: relative;
    background: #FFF;
    border-left: 1px solid #a7d7f9;
}